<?xml version="1.0" encoding="UTF-8"?>
<!--Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">

  <?define ProductName=s3i?>
  <?define ProductVersion=!(bind.FileVersion.s3i.exe)?>
  <?define Manufacturer=OlegB?>

  <!-- change for a major upgrade -->
  <?define ProductCode=*?>

  <!-- NEVER CHANGE UpgradeCode - actually it is PRODUCT ID -->
  <?define UpgradeCode={e34c5e85-21ad-4a6c-b4ef-be5925074846}?>

  <Product UpgradeCode="$(var.UpgradeCode)" Id="$(var.ProductCode)" Version="$(var.ProductVersion)" Name="$(var.ProductName)" Language="1033" Manufacturer="$(var.Manufacturer)">

    <Package InstallerVersion="300" Compressed="yes" InstallScope="perMachine" />
    <Media Id="1" Cabinet="$(var.ProductName).cab" EmbedCab="yes" />

    <PropertyRef Id="WIXNETFX4RELEASEINSTALLED"/>
    <!-- Full list of version ids is here: https://msdn.microsoft.com/en-us/library/hh925568%28v=vs.110%29.aspx?f=255&MSPPError=-2147217396#net_d -->
    <?define NetFx472 = 461808 ?>
    <Condition Message='This setup requires the .NET Framework 4.7.2 or higher, [WIXNETFX4RELEASEINSTALLED] found, #$(var.NetFx472) required'>
      <![CDATA[Installed OR (WIXNETFX4RELEASEINSTALLED >= "#$(var.NetFx472)")]]>
    </Condition>

    <util:Group Id="AdminGroup" Name="Administrators"/>

    <Property Id="COMMANDLINEARGS" Admin="yes"> </Property>

    <Property Id="ARPCOMMENTS">Install products from AWS S3 buckets</Property>
    <Property Id="ARPURLINFOABOUT">https://github.com/OlegBoulanov/s3i/</Property>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <!--
      <Directory Id="StartMenuFolder">
        <Directory Id="Menu_Manufacturer" Name="$(var.Manufacturer)">
          <Directory Id="Menu_Product" Name="$(var.ProductName)">
          </Directory>
        </Directory>
      </Directory>
      -->
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLDIR" Name="$(var.Manufacturer)">
          <Directory Id="Product_Root" Name="$(var.ProductName)">
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <?define s3i_service_exe=s3i_service.exe?>
    <DirectoryRef Id="Product_Root" FileSource="$(var.s3i.TargetDir)">
      <Component Id="s3i_command" Guid="{36119CD0-A673-4695-BA85-3D109D2F76DE}">
        <RemoveFolder Id="Product_Root" On="uninstall"/>
        <File Id="s3i.exe" Name="s3i.exe" KeyPath="yes"/>
        <!--File Id="s3i.exe.config" Name="s3i.exe.config"/-->
        <File Id="s3i_lib.dll" Name="s3i_lib.dll" Vital="yes"/>
        <!-- set configuration properties from command line PROPS -->
        <?define XPathPrefix=//configuration/userSettings/s3i.Properties.Settings/setting?>
        <!-- see App.config layout -->
        <util:XmlConfig Id="CommandLineArgs" ElementPath="$(var.XPathPrefix)[\[]@name='CommandLineArgs'[\]]/value" Value="[COMMANDLINEARGS]" File="[#s3i.exe.config]" Action="create" Node="value" On="install"/>
        <Environment Id="path" Name="PATH" Value="[Product_Root]" Action="set" System="yes" Part="last" Permanent="no"/>
      </Component>
      <Component Id="s3i_service" Guid="{B0238396-CF59-471E-8793-2A407D45E411}">
        <File Id="s3i_service.exe" Name="$(var.s3i_service_exe)" Source="$(var.s3i_service.TargetDir)$(var.s3i_service_exe)" Vital="yes"/>
        <!-- service -->
        <ServiceInstall Id="s3i_service_install" Name="s3i" DisplayName="s3i service" Description="Install products from AWS S3 buckets" Start="auto" ErrorControl="normal" Type="ownProcess" Vital="yes">
          <util:ServiceConfig ServiceName="s3i" ResetPeriodInDays="1" RestartServiceDelayInSeconds="30" FirstFailureActionType="restart" SecondFailureActionType="none" ThirdFailureActionType="none" />
          <ServiceDependency Id="LanmanServer"/>
        </ServiceInstall>
        <ServiceControl Id="s3i_service_control" Name="s3i" Start="install" Stop="both" Remove="uninstall" />
      </Component>      
      <Component Id="AWSSDK" Guid="{F61F6544-DBBF-472D-93D2-3714E0C1D4DB}">
        <File Id="AWSSDK.Core.dll" Name="AWSSDK.Core.dll" Source="$(var.s3i.TargetDir)AWSSDK.Core.dll" Vital="yes"/>
        <File Id="AWSSDK.S3.dll" Name="AWSSDK.S3.dll" Source="$(var.s3i.TargetDir)AWSSDK.S3.dll" Vital="yes"/>
      </Component>
      <Component Id="Newtonsoft.Json" Guid="{374D9724-F04D-41C5-A0F3-936463FDF339}">
        <File Id="Newtonsoft.json.dll" Name="Newtonsoft.Json.dll" Source="$(var.s3i.TargetDir)Newtonsoft.Json.dll" Vital="yes"/>
      </Component>
    </DirectoryRef>

    <Feature Id="ProductFeature" Title="s3i" Level="1">
      <ComponentRef Id="s3i_command" />
      <ComponentRef Id="s3i_service" />
      <ComponentRef Id="AWSSDK" />
      <ComponentRef Id="Newtonsoft.Json" />
    </Feature>

    <MajorUpgrade DowngradeErrorMessage="A newer than [ProductVersion] version of [ProductName] is already installed." />
  </Product>

</Wix>
